<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PdfChords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PdfChords.Properties.Settings>
            <setting name="directory" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="printerIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="xmlExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="psExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pdfExport" serializeAs="String">
                <value>True</value>
            </setting>
        </PdfChords.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
